.benefits {
	&__list {
		max-width: 1060px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		max-width: 420px;
		max-height: 430px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background-color: rgba(51, 62, 81, 0.95);
		border-radius: 20px;
		padding: 40px 16px 60px;
		margin-bottom: 70px;
		position: relative;
		z-index: 0;

		&:nth-child(2n) {
			margin-left: 50px;
		}
	}

	&__item-text {
		text-align: center;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: -0.7px;
	}

	&__item-img {
		width: 200px;
		margin-bottom: 6px;
	}

	&__item-box {
		max-width: 260px;
		max-height: 268px;
		width: 100%;
		height: 100%;
		background-color: rgba(51, 62, 81, 0.6);
		border-radius: 20px;

		position: absolute;
		bottom: -20px;
		z-index: -1;
	}
}

@media (max-width: 1920px) {
	.benefits {
		&__list {
			max-width: 660px;
		}

		&__item {
			max-width: 300px;
			max-height: 310px;
			width: 100%;
			padding: 30px 19px 50px;
			margin-bottom: 70px;

			&:nth-child(2n) {
				margin-left: 50px;
			}
		}

		&__item-text {
			font-size: 19px;
			line-height: 25px;
		}

		&__item-img {
			width: 150px;
		}
	}
}

@media (max-width: 775px) {
	.benefits {
		&__list {
			flex-direction: column;
		}

		&__item {
			&:nth-child(2n) {
				margin-left: 0px;
			}

			&:nth-child(1) {
				order: 0;
			}

			&:nth-child(2) {
				order: 3;
			}

			&:nth-child(3) {
				order: 2;
			}

			&:nth-child(4) {
				order: 1;
			}
		}
	}
}

@media (max-width: 650px) {
	.benefits {
		&__item {
			margin-bottom: 55px;
		}
	}
}

@media (max-width: 550px) {
	.benefits {
		&__list {
			max-width: 660px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		&__item {
			max-width: 260px;
			max-height: 273px;
			padding: 48px 23px;
		}

		&__item-img {
			width: 120px;
			margin-bottom: 6px;
		}

		&__item-text {
			text-align: center;
			font-size: 16px;
			line-height: 25px;
			letter-spacing: -0.7px;
		}

		&__item-box {
			max-width: 226px;
			max-height: 235px;
		}
	}
}
