// main colors
$white: #ffffff;
$black: #242424;

// extra colors
$grey: #cecece;
$lime: #c3f33b;
$purple: #5f38ff;
$bg-color: #1d2532;

// fonts
$default-font-family: 'Inter';
$default-font-weight: 400;

// shadow
$box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

$desktop: 1950px;
$tablet: 880px;
$mobile: 480px;
