@import './variables';
@import './animations';
@import './fonts';
@import './reset';
@import './global';

/* Components */
@import '../components/Header/Header';

h1 {
	font-family: 'GT Walsheim Pro', arial;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
}
